@font-face {
    font-family: 'Farewell Pro Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/farewell-pro/Farewell-Pro-Regular.ttf') format('truetype');
  }
  